{% extends 'base.html.twig' %}

{% block carousel %}
{% endblock %}

{% block content %}
	
	<h3 class="mt-4">Nos meilleures ventes</h3>
	<p>Découvrez les articles les plus vendus</p>
	<div class="row">
		{% for product in bestProducts %}
			<div class="col-md-3">
				{% include "product/single_product.html.twig" %}
			</div>
		{% endfor %}
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Une équipe de professionnel
				<span class="text-muted"> au grand savoir-faire.</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
			<img src="{{ asset('assets/img/first.jpg') }}" alt="Un savoir-faire français" class="img-fluid">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Venez nous rencontrer dans nos
				<span class="text-muted"> boutiques en France.</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="{{ asset('assets/img/second.jpg') }}" alt="Une boutique ouverte toute l'année" class="img-fluid">
		</div>
	</div>
{% endblock %}
