{% extends 'base.html.twig' %}


{% block content %}
	<h1>Inscription</h1>
	{% if notification %}
		<div class="alert alert-info">
			{{notification}}
		</div>
	{% endif %}
	{{ form(form) }}
	<hr>
	<p>J'ai déjà un <a href="{{ path('app_login') }}">compte</a> ?</p>
{% endblock %}
