{% extends 'base.html.twig' %}

{% block title %} Page introuvable | {{ parent() }} {% endblock %}

{% block content %}
<div class="block-small">
   <h2>Page introuvable !</h2>
   <p>Désolé, cette page n'existe pas...</p>
   <a href="{{ path('home') }}" class="btn btn-info">Revenir à l'acceuil</a>
</div>
{% endblock %}
